In [4]:
import pandas as pd #importa a biblioteca pandas

In [5]:
path ='C:/Users/sn1076220/Desktop/Aula09-Arvoredecisao-B/base de dados/creditcard (1).csv'
df =pd.read_csv(path,sep=',') #comando para ler o arquivo csv da base de dados

In [ ]:
df.head() # exibir as primeiras linhas do dataframe

In [ ]:
df.tail() #exibe as ultimas linhas do dataframe

In [ ]:
df.info() #exibe informações do dataframe

In [ ]:
df.describe() # exibe informações estatísticas do dataframe

In [10]:
n_transacoes = df['Class'].count() # Realiza a contagem do numero de transações do dataframe
n_transacoes

284807

In [11]:
df.head(1)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0

In [12]:
n_fraudes = df['Class'].sum() #soma os valores das transações bancarias
n_fraudes

492

In [13]:
#calculo da quantidade de transações normais do dataframe
n_normais = n_transacoes - n_fraudes
n_normais

284315

In [14]:
df['Class'].value_counts() # conta o numero de transações

Class
0    284315
1       492
Name: count, dtype: int64

In [15]:
n_porcentagem_normais =(n_normais/n_transacoes)*100
print(f'Porcentagem de transações normais {n_porcentagem_normais}')
n_porcentagem_fraudes = (n_fraudes/n_transacoes)*100
print(f'Porcentagem de transações com fraude {n_porcentagem_fraudes}')

Porcentagem de transações normais 99.82725143693798
Porcentagem de transações com fraude 0.1727485630620034

In [16]:
# Definindo as variaveis para o modelo
X =df.drop('Class',axis=1).values #exclui a coluna Class
y = df['Class'].values # armazena em y a coluna Class

In [17]:
y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [18]:
from sklearn.model_selection import StratifiedShuffleSplit #importa o modelo para
#dividir o dataframe

In [19]:
validador = StratifiedShuffleSplit(n_splits=1,test_size=0.1,random_state=0)

In [20]:
#Definindo conjunto de treino e teste para o modelo
for treino_id,teste_id in validador.split(X,y):
    x_train,x_test = X[treino_id],X[teste_id]
    y_train, y_test = y[treino_id],y[teste_id]

In [21]:
from sklearn import tree # importa da bibliote sklearn o método tree
classificador_arvore = tree.DecisionTreeClassifier() # variavel que armazena a arvore de decisao

In [22]:
arvore = classificador_arvore.fit(x_train, y_train) #Cria modelo de arvore de decisao

In [23]:
y_pred = arvore.predict(x_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [24]:
def validador(X,y):
    validador = StratifiedShuffleSplit(n_splits=1, test_size=0.1, random_state=0)
    for treino_id, teste_id in validador.split(X, y):
        X_train, X_test = X[treino_id], X[teste_id]
        y_train, y_test = y[treino_id], y[teste_id]
    return X_train, X_test, y_train, y_test

In [25]:
def executar_classificador(classificador, x_train,y_train,x_test,y_test):
    arvore= classificador.fit(x_train,y_train)
    y_pred = arvore.predict(x_test)
    return y_pred

In [28]:
classificador_arvore_decisao = tree.DecisionTreeClassifier()
y_pred_arvore_decisao = executar_classificador(classificador_arvore_decisao, x_train, 
y_train,x_test, y_test)
import matplotlib.pyplot as plt
def salvar_arvore(classificador_arvore_decisao,nome):
    plt.figure(figsize=(200,100))
    tree.plot_tree(classificador_arvore_decisao,filled = True, fontsize=14)
    plt.savefig(nome)    
    plt.close()

In [29]:
salvar_arvore(classificador_arvore_decisao,"arvore transações-bancarias.jpg")

In [30]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score

In [31]:
def validar_arvore(y_test,y_pred):
    print(accuracy_score(y_pred,y_test))
    print(confusion_matrix(y_pred,y_test))

In [32]:
validar_arvore(y_test,y_pred_arvore_decisao)

0.9990871107053826
[[28418    12]
 [   14    37]]

In [38]:
precision_score(y_pred,y_test)
print('precision',precision)
print(confusion_matrix(y_pred,y_test))

precision 0.6938775510204082
[[28418    15]
 [   14    34]]